div{
    font-family: 'arial';
    font-size: 10pt;
}

table td{
    border-style: solid;
    border-width: 1pt;
    padding: 5px;
    font-family: Arial;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: Arial;
}

h5{
    text-align: center;
    color: rgb(12, 28, 93);
    font-size: 12pt;
}

p{
    bottom: 2px;
    text-align: center;
}

img{
    width: 250px;
    margin-left: 30%;
    
}